/* You can add global styles to this file, and also import other style files */
html {
  height: 100%;
  width: 100%;
  margin: 0;
}



body{
  margin: 0;
  height: 100%;
  width: 100%;
}

body, html {
  overflow-x: hidden;
  overflow-y: auto;
}

.fullScreen{
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.overLap{
  position: absolute;
  left: 0px;
  top: 0px;
  overflow-x: hidden;
  overflow-y: auto;
}

.top{
  z-index: 5;
}

.transparent{
  background-color: transparent;
}

.red{
  background-color: red;
}

.yellow{
  background-color: yellow;
}


.first{
  z-index: 12;
}

.test{
  width: 100px;
  height: 100px;
  background-color: red;
}

.base-top-padding{
  top-padding: 200px;
  margin-top: 200px;
}
